{
    admin off
    persist_config off
    auto_https off
    log {
        format json
        output stderr
        level INFO
    }
    frankenphp
}

:{$PORT:80} {
    encode zstd br gzip

    @private_media path /media/private/*
    respond @private_media 404

    @persistent_media path /media/public/* /media/units/*
    handle @persistent_media {
        uri strip_prefix /media
        root * /data/uploads
        file_server
    }

    handle {
        root * {$RAILPACK_PHP_ROOT_DIR:/app}
        file_server {
            hide .git
            hide .env*
        }
        php_server
    }
}
